In [ ]:
# [Bài tập] Phân tích trên bộ dữ liệu Online Retail
    #1 Đọc bộ dữ liệu, cho biết số dòng, số cột và kiểu dữ liệu của các thuộc tính.
    #2. Xây dựng bảng Pivot table, với mỗi Số hóa đơn tính trung bình cộng số lượng các mặt hàng theo từng Quốc gia. 
    #3. Xây dựng bảng Pivot table, với mỗi Khách hàng cho biết số lượng mua hàng lớn nhất và nhỏ nhất theo Kho.
    #4. Xây dựng bảng Pivot table, với mỗi Mã kho tính tổng số lượng các mặt hàng và trung bình cộng giá.
    #5. Xây dựng bảng Pivot table cho biết tổng số lượng hàng bán được của mỗi ngày.

In [29]:
import pandas as pd
import numpy as np

In [32]:
df = pd.read_csv("D:\DA-Class\DA2212R1\OnlineRetail.csv", encoding='unicode_escape')
df.info()
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

(541909, 8)

In [33]:
#2. Xây dựng bảng Pivot table, với mỗi Số hóa đơn tính trung bình cộng số lượng các mặt hàng theo từng Quốc gia.


pivot_table = df.pivot_table(values='Quantity', index='InvoiceNo', columns='Country', aggfunc={'Quantity':np.mean})
print(pivot_table)

Country    Australia  Austria  Bahrain  Belgium  Brazil  Canada  \
InvoiceNo
536365           NaN      NaN      NaN      NaN     NaN     NaN
536366           NaN      NaN      NaN      NaN     NaN     NaN
536367           NaN      NaN      NaN      NaN     NaN     NaN
536368           NaN      NaN      NaN      NaN     NaN     NaN
536369           NaN      NaN      NaN      NaN     NaN     NaN
...              ...      ...      ...      ...     ...     ...
C581484          NaN      NaN      NaN      NaN     NaN     NaN
C581490          NaN      NaN      NaN      NaN     NaN     NaN
C581499          NaN      NaN      NaN      NaN     NaN     NaN
C581568          NaN      NaN      NaN      NaN     NaN     NaN
C581569          NaN      NaN      NaN      NaN     NaN     NaN

Country    Channel Islands  Cyprus  Czech Republic  Denmark  ...  RSA  \
InvoiceNo                                                    ...
536365                 NaN     NaN             NaN      NaN  ...  NaN
536366                 NaN     NaN             NaN      NaN  ...  NaN
536367                 NaN     NaN             NaN      NaN  ...  NaN
536368                 NaN     NaN             NaN      NaN  ...  NaN
536369                 NaN     NaN             NaN      NaN  ...  NaN
...                    ...     ...             ...      ...  ...  ...
C581484                NaN     NaN             NaN      NaN  ...  NaN
C581490                NaN     NaN             NaN      NaN  ...  NaN
C581499                NaN     NaN             NaN      NaN  ...  NaN
C581568                NaN     NaN             NaN      NaN  ...  NaN
C581569                NaN     NaN             NaN      NaN  ...  NaN

Country    Saudi Arabia  Singapore  Spain  Sweden  Switzerland  USA  \
InvoiceNo
536365              NaN        NaN    NaN     NaN          NaN  NaN
536366              NaN        NaN    NaN     NaN          NaN  NaN
536367              NaN        NaN    NaN     NaN          NaN  NaN
536368              NaN        NaN    NaN     NaN          NaN  NaN
536369              NaN        NaN    NaN     NaN          NaN  NaN
...                 ...        ...    ...     ...          ...  ...
C581484             NaN        NaN    NaN     NaN          NaN  NaN
C581490             NaN        NaN    NaN     NaN          NaN  NaN
C581499             NaN        NaN    NaN     NaN          NaN  NaN
C581568             NaN        NaN    NaN     NaN          NaN  NaN
C581569             NaN        NaN    NaN     NaN          NaN  NaN

Country    United Arab Emirates  United Kingdom  Unspecified
InvoiceNo
536365                      NaN        5.714286          NaN
536366                      NaN        6.000000          NaN
536367                      NaN        6.916667          NaN
536368                      NaN        3.750000          NaN
536369                      NaN        3.000000          NaN
...                         ...             ...          ...
C581484                     NaN   -80995.000000          NaN
C581490                     NaN      -11.500000          NaN
C581499                     NaN       -1.000000          NaN
C581568                     NaN       -5.000000          NaN
C581569                     NaN       -3.000000          NaN

[25900 rows x 38 columns]

In [34]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [35]:
 #3. Xây dựng bảng Pivot table, với mỗi Khách hàng cho biết số lượng mua hàng lớn nhất và nhỏ nhất theo Kho.

df2 = df.pivot_table(values='Quantity', index='CustomerID', columns='StockCode',aggfunc={min, max})

print(df2)

             max                                                           \
StockCode  10002 10080 10120 10123C 10124A 10124G 10125 10133 10135 11001
CustomerID
12346.0      NaN   NaN   NaN    NaN    NaN    NaN   NaN   NaN   NaN   NaN
12347.0      NaN   NaN   NaN    NaN    NaN    NaN   NaN   NaN   NaN   NaN
12348.0      NaN   NaN   NaN    NaN    NaN    NaN   NaN   NaN   NaN   NaN
12349.0      NaN   NaN   NaN    NaN    NaN    NaN   NaN   NaN   NaN   NaN
12350.0      NaN   NaN   NaN    NaN    NaN    NaN   NaN   NaN   NaN   NaN
...          ...   ...   ...    ...    ...    ...   ...   ...   ...   ...
18280.0      NaN   NaN   NaN    NaN    NaN    NaN   NaN   NaN   NaN   NaN
18281.0      NaN   NaN   NaN    NaN    NaN    NaN   NaN   NaN   NaN   NaN
18282.0      NaN   NaN   NaN    NaN    NaN    NaN   NaN   NaN   NaN   NaN
18283.0      NaN   NaN   NaN    NaN    NaN    NaN   NaN   NaN   NaN   NaN
18287.0      NaN   NaN   NaN    NaN    NaN    NaN   NaN   NaN   NaN   NaN

            ...    min
StockCode   ... 90214Y 90214Z BANK CHARGES  C2 CRUK   D DOT    M PADS POST
CustomerID  ...
12346.0     ...    NaN    NaN          NaN NaN  NaN NaN NaN  NaN  NaN  NaN
12347.0     ...    NaN    NaN          NaN NaN  NaN NaN NaN  NaN  NaN  NaN
12348.0     ...    NaN    NaN          NaN NaN  NaN NaN NaN  NaN  NaN  1.0
12349.0     ...    NaN    NaN          NaN NaN  NaN NaN NaN  NaN  NaN  1.0
12350.0     ...    NaN    NaN          NaN NaN  NaN NaN NaN  NaN  NaN  1.0
...         ...    ...    ...          ...  ..  ...  ..  ..  ...  ...  ...
18280.0     ...    NaN    NaN          NaN NaN  NaN NaN NaN  NaN  NaN  NaN
18281.0     ...    NaN    NaN          NaN NaN  NaN NaN NaN  NaN  NaN  NaN
18282.0     ...    NaN    NaN          NaN NaN  NaN NaN NaN  NaN  NaN  NaN
18283.0     ...    NaN    NaN          NaN NaN  NaN NaN NaN  1.0  NaN  NaN
18287.0     ...    NaN    NaN          NaN NaN  NaN NaN NaN  NaN  NaN  NaN

[4372 rows x 7368 columns]

In [36]:
#4. Xây dựng bảng Pivot table, với mỗi Mã kho tính tổng số lượng các mặt hàng và trung bình cộng giá.
df3 = df.pivot_table(values=['Quantity','UnitPrice'], index='StockCode', aggfunc={'Quantity':np.sum, 'UnitPrice':np.mean})
df3.rename(columns={'Quantity':'Quantity Total', 'UnitPrice':'Unit Price Average'}, inplace=True)

print(df3)

              Quantity Total  Unit Price Average
StockCode
10002                   1037            1.056849
10080                    495            0.376667
10120                    193            0.210000
10123C                   -13            0.487500
10123G                   -38            0.000000
...                      ...                 ...
gift_0001_20              20           15.038000
gift_0001_30              37           21.941250
gift_0001_40               3           33.566667
gift_0001_50               4           41.890000
m                          1            2.550000

[4070 rows x 2 columns]

Index(['Quantity Total', 'Unit Price Average'], dtype='object')

In [45]:
#5. Xây dựng bảng Pivot table cho biết tổng số lượng hàng bán được của mỗi ngày.

# Chuyển đổi kiểu dữ liệu của cột InvoiceDate từ chuỗi sang đối tượng datetime
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

# Tạo cột mới là InvoiceDate_new để lấy ngày của InvoiceDate
df['InvoiceDate_new'] = df['InvoiceDate'].dt.date

df4 = df.pivot_table(values='Quantity', index='InvoiceDate_new', aggfunc={'Quantity':np.sum})
df4.rename(columns={'Quantity':'Quantity Total'}, inplace=True)

print(df4)

                 Quantity Total
InvoiceDate_new
2010-12-01                26814
2010-12-02                21023
2010-12-03                14830
2010-12-05                16395
2010-12-06                21419
...                         ...
2011-12-05                44119
2011-12-06                29026
2011-12-07                39612
2011-12-08                34460
2011-12-09                12949

[305 rows x 1 columns]