In [1]:
import pandas as pd
import numpy as np

In [2]:
# Đọc dữ liệu vào DataFrame
df = pd.read_csv(filepath_or_buffer = 'Datasets\FoodPrice_in_Turkey.csv', sep = ',')
df.head()

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099

In [5]:
#df.to_csv('demo_FoodPrice.csv')
df.to_csv('demo_csv_FoodPrice.csv')

In [6]:
#Ghi dữ liệu từ DataFrame vào file excel
df.to_excel('demo_excel_FoodPrice.xlsx')

In [8]:
#Ghi dữ liệu từ DataFrame vào file Json
#Các bản ghi – records
#Các cột – columns
#Các chỉ mục – indexs
#Các giá trị – values
df.to_json('demo_jso_FoodPrice.json',orient='columns')

In [3]:
#Ghi dữ liệu từ DataFrame vào file HDF5
df.to_hdf('demo_hdf5_FoodPrice.h5', 'table')

In [10]:
#Ghi dữ liệu từ DataFrame vào file HTML
df.to_html('demo_html_FoodPrice.html')

In [ ]:
#Đọc bộ dữ liệu, cho biết số dòng, số cột và kiểu dữ liệu của các thuộc tính.
print("Số dòng của dữ liệu là: ", df.shape[0])
print("Số cột của dữ liệu là: ", df.shape[1])
df.info()