In [1]:
import pandas as pd

df = pd.DataFrame()
df.head()

Empty DataFrame
Columns: []
Index: []

In [7]:
lst = ['Kế toán','Kinh doanh','Tiếp thị']
df1 = pd.DataFrame(lst)
df1
print(df1)

            0
0     Kế toán
1  Kinh doanh
2    Tiếp thị

In [9]:
tuples = [('Kế toán', 2000),( 'Kinh doanh', 2100), ('Tiếp thị', 1900)]

df2 = pd.DataFrame(tuples, columns=['Nghề','Lương'])
print(df2)

         Nghề  Lương
0     Kế toán   2000
1  Kinh doanh   2100
2    Tiếp thị   1900

In [10]:
dic = {'Nghề':['Kế toán','Kinh doanh','Tiếp thị'],
       'Lương':[2000, 2100, 1900]}
df3 = pd.DataFrame(dic)
print(df3)

         Nghề  Lương
0     Kế toán   2000
1  Kinh doanh   2100
2    Tiếp thị   1900

# Series

In [12]:
dict2 = {0 : 'Kế toán', 1 : 'Kinh doanh', 2 : 'Tiếp thị'}

seri = pd.Series(dict2)
print(seri)

0       Kế toán
1    Kinh doanh
2      Tiếp thị
dtype: object

In [13]:
import numpy as np

arr = np.array([51,65,48,59,68])
seri = pd.Series(arr)
print(seri)

0    51
1    65
2    48
3    59
4    68
dtype: int32

In [14]:
seri = pd.Series(10, index=[0,1,2,3,4,5])
print(seri)

0    10
1    10
2    10
3    10
4    10
5    10
dtype: int64

In [16]:
df = pd.read_csv("Datasets\FoodPrice_in_Turkey.csv")
df.head()

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099

In [17]:
#Xác định số hàng và cột của DataFrame.
df.shape

(7381, 8)

In [18]:
print("Số dòng dữ liệu: ",df.shape[0])
print("Số cột dữ liệu: ",df.shape[1])

Số dòng dữ liệu:  7381
Số cột dữ liệu:  8

In [19]:
#Kiểm tra tên của các cột thuộc tính:
df.columns

Index(['Place', 'ProductId', 'ProductName', 'UmId', 'UmName', 'Month', 'Year',
       'Price'],
      dtype='object')

In [20]:
#Kiểm tra kiểu dữ liệu của các cột thuộc tính
df.dtypes

Place           object
ProductId        int64
ProductName     object
UmId             int64
UmName          object
Month            int64
Year             int64
Price          float64
dtype: object

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7381 entries, 0 to 7380
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Place        7381 non-null   object
 1   ProductId    7381 non-null   int64
 2   ProductName  7381 non-null   object
 3   UmId         7381 non-null   int64
 4   UmName       7381 non-null   object
 5   Month        7381 non-null   int64
 6   Year         7381 non-null   int64
 7   Price        7381 non-null   float64
dtypes: float64(1), int64(4), object(3)
memory usage: 461.4+ KB

In [22]:
# Cách 1: Ghi tường minh các tham số
df=pd.read_csv(filepath_or_buffer = 'Datasets\FoodPrice_in_Turkey.csv', sep = ',')
# Hiển thị 5 dòng dữ liệu đầu tiên
df.head()

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099

In [30]:
# Cách 2: Không ghi tường minh các tham số
df=pd.read_csv('Datasets\FoodPrice_in_Turkey.csv')
# Hiển thị 5 dòng dữ liệu đầu tiên
df.head()

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099

In [34]:
df.to_excel('house_price_dong_da.xlsx')

In [35]:
df2=pd.read_excel('house_price_dong_da.xlsx' )
df.head()

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099

In [36]:
df.to_json('house_price_dong_da.json', orient = "columns")

In [37]:
df = pd.read_json('house_price_dong_da.json')
df.head()

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099

In [39]:
df.to_hdf('house_price_dong_da.h5', key = "str", format = 'table')

ImportError: Missing optional dependency 'pytables'.  Use pip or conda to install pytables.

In [ ]:
df=pd.read_hdf('house_price_dong_da.h5', 'table')
df.head()