In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("D:\DA-Class\DA2212R1\OnlineRetail.csv", encoding='unicode_escape')
df.info()
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

(541909, 8)

In [4]:
df1 = df.filter(['InvoiceNo', 'InvoiceDate'])
print(df1)

       InvoiceNo      InvoiceDate
0         536365   12/1/2010 8:26
1         536365   12/1/2010 8:26
2         536365   12/1/2010 8:26
3         536365   12/1/2010 8:26
4         536365   12/1/2010 8:26
...          ...              ...
541904    581587  12/9/2011 12:50
541905    581587  12/9/2011 12:50
541906    581587  12/9/2011 12:50
541907    581587  12/9/2011 12:50
541908    581587  12/9/2011 12:50

[541909 rows x 2 columns]

In [5]:
df3 = df.filter([2,4,6,8], axis=0)
print(df3)

  InvoiceNo StockCode                        Description  Quantity  \
2    536365    84406B     CREAM CUPID HEARTS COAT HANGER         8
4    536365    84029E     RED WOOLLY HOTTIE WHITE HEART.         6
6    536365     21730  GLASS STAR FROSTED T-LIGHT HOLDER         6
8    536366     22632          HAND WARMER RED POLKA DOT         6

      InvoiceDate  UnitPrice  CustomerID         Country
2  12/1/2010 8:26       2.75     17850.0  United Kingdom
4  12/1/2010 8:26       3.39     17850.0  United Kingdom
6  12/1/2010 8:26       4.25     17850.0  United Kingdom
8  12/1/2010 8:28       1.85     17850.0  United Kingdom

In [7]:
df4 = df[0:8]
print(df4)

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
5    536365     22752         SET 7 BABUSHKA NESTING BOXES         2
6    536365     21730    GLASS STAR FROSTED T-LIGHT HOLDER         6
7    536366     22633               HAND WARMER UNION JACK         6

      InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/2010 8:26       2.55     17850.0  United Kingdom
1  12/1/2010 8:26       3.39     17850.0  United Kingdom
2  12/1/2010 8:26       2.75     17850.0  United Kingdom
3  12/1/2010 8:26       3.39     17850.0  United Kingdom
4  12/1/2010 8:26       3.39     17850.0  United Kingdom
5  12/1/2010 8:26       7.65     17850.0  United Kingdom
6  12/1/2010 8:26       4.25     17850.0  United Kingdom
7  12/1/2010 8:28       1.85     17850.0  United Kingdom

In [10]:
df5 = df.query("(Quantity > 6) and (Country == 'France')")
print(df5)

       InvoiceNo StockCode                      Description  Quantity  \
26        536370     22728        ALARM CLOCK BAKELIKE PINK        24
27        536370     22727        ALARM CLOCK BAKELIKE RED         24
28        536370     22726       ALARM CLOCK BAKELIKE GREEN        12
29        536370     21724  PANDA AND BUNNIES STICKER SHEET        12
30        536370     21883                 STARS GIFT TAPE         24
...          ...       ...                              ...       ...
541895    581587     22556   PLASTERS IN TIN CIRCUS PARADE         12
541896    581587     22555        PLASTERS IN TIN STRONGMAN        12
541901    581587     22367  CHILDRENS APRON SPACEBOY DESIGN         8
541902    581587     22629              SPACEBOY LUNCH BOX         12
541904    581587     22613      PACK OF 20 SPACEBOY NAPKINS        12

            InvoiceDate  UnitPrice  CustomerID Country
26       12/1/2010 8:45       3.75     12583.0  France
27       12/1/2010 8:45       3.75     12583.0  France
28       12/1/2010 8:45       3.75     12583.0  France
29       12/1/2010 8:45       0.85     12583.0  France
30       12/1/2010 8:45       0.65     12583.0  France
...                 ...        ...         ...     ...
541895  12/9/2011 12:50       1.65     12680.0  France
541896  12/9/2011 12:50       1.65     12680.0  France
541901  12/9/2011 12:50       1.95     12680.0  France
541902  12/9/2011 12:50       1.95     12680.0  France
541904  12/9/2011 12:50       0.85     12680.0  France

[5190 rows x 8 columns]

In [11]:
df6 = df.groupby('Country')['Quantity'].sum()
print(df6)

Country
Australia                 83653
Austria                    4827
Bahrain                     260
Belgium                   23152
Brazil                      356
Canada                     2763
Channel Islands            9479
Cyprus                     6317
Czech Republic              592
Denmark                    8188
EIRE                     142637
European Community          497
Finland                   10666
France                   110480
Germany                  117448
Greece                     1556
Hong Kong                  4769
Iceland                    2458
Israel                     4353
Italy                      7999
Japan                     25218
Lebanon                     386
Lithuania                   652
Malta                       944
Netherlands              200128
Norway                    19247
Poland                     3653
Portugal                  16180
RSA                         352
Saudi Arabia                 75
Singapore                  5234
Spain                     26824
Sweden                    35637
Switzerland               30325
USA                        1034
United Arab Emirates        982
United Kingdom          4263829
Unspecified                3300
Name: Quantity, dtype: int64

In [15]:
df7 = df.groupby(['Country', 'CustomerID']).agg({'Quantity': 'sum'}).max(level=['Country', 'CustomerID'])
print(df7)

                           Quantity
Country        CustomerID
Australia      12386.0          354
               12388.0         1462
               12393.0          816
               12415.0        77242
               12422.0          195
...                             ...
United Kingdom 18287.0         1586
Unspecified    12363.0          408
               12743.0          319
               14265.0          330
               16320.0          732

[4380 rows x 1 columns]

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_1180\255191261.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.median(level=1) should use df.groupby(level=1).median().
  df7 = df.groupby(['Country', 'CustomerID']).agg({'Quantity': 'sum'}).max(level=['Country', 'CustomerID'])

In [17]:
 # Nhóm dữ liệu và đặt lại index
df8 = df.groupby(['Country', 'CustomerID'])['Quantity'].sum().reset_index() 

# Chọn 3 khách hàng có tổng Quantity lớn nhất
df8 = df8.groupby('Country').apply(lambda x: x.nlargest(3, 'Quantity')) 
print(df8)

                            Country  CustomerID  Quantity
Country
Australia      3          Australia     12415.0     77242
               6          Australia     12431.0      2393
               1          Australia     12388.0      1462
Austria        10           Austria     12360.0      1165
               18           Austria     12818.0       923
...                             ...         ...       ...
United Kingdom 4237  United Kingdom     18102.0     64122
               3808  United Kingdom     17511.0     63012
Unspecified    4379     Unspecified     16320.0       732
               4376     Unspecified     12363.0       408
               4378     Unspecified     14265.0       330

[90 rows x 3 columns]

In [10]:
tmp = pd.DataFrame()
tmp = df
tmp['Total'] = df['Quantity'] * df['UnitPrice']
print(tmp)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

            InvoiceDate  UnitPrice  CustomerID         Country  Total
0        12/1/2010 8:26       2.55     17850.0  United Kingdom  15.30
1        12/1/2010 8:26       3.39     17850.0  United Kingdom  20.34
2        12/1/2010 8:26       2.75     17850.0  United Kingdom  22.00
3        12/1/2010 8:26       3.39     17850.0  United Kingdom  20.34
4        12/1/2010 8:26       3.39     17850.0  United Kingdom  20.34
...                 ...        ...         ...             ...    ...
541904  12/9/2011 12:50       0.85     12680.0          France  10.20
541905  12/9/2011 12:50       2.10     12680.0          France  12.60
541906  12/9/2011 12:50       4.15     12680.0          France  16.60
541907  12/9/2011 12:50       4.15     12680.0          France  16.60
541908  12/9/2011 12:50       4.95     12680.0          France  14.85

[541909 rows x 9 columns]

In [11]:
tmp['rate'] = np.where(tmp['Quantity']>= 10, 'big customer', 'normal')
print(tmp)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

            InvoiceDate  UnitPrice  CustomerID         Country  Total  \
0        12/1/2010 8:26       2.55     17850.0  United Kingdom  15.30
1        12/1/2010 8:26       3.39     17850.0  United Kingdom  20.34
2        12/1/2010 8:26       2.75     17850.0  United Kingdom  22.00
3        12/1/2010 8:26       3.39     17850.0  United Kingdom  20.34
4        12/1/2010 8:26       3.39     17850.0  United Kingdom  20.34
...                 ...        ...         ...             ...    ...
541904  12/9/2011 12:50       0.85     12680.0          France  10.20
541905  12/9/2011 12:50       2.10     12680.0          France  12.60
541906  12/9/2011 12:50       4.15     12680.0          France  16.60
541907  12/9/2011 12:50       4.15     12680.0          France  16.60
541908  12/9/2011 12:50       4.95     12680.0          France  14.85

                rate
0             normal
1             normal
2             normal
3             normal
4             normal
...              ...
541904  big customer
541905        normal
541906        normal
541907        normal
541908        normal

[541909 rows x 10 columns]

In [12]:
tmp.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country', 'Total', 'rate'],
      dtype='object')

In [15]:
tmp1= tmp[['InvoiceNo', 'Quantity', 'CustomerID', 'Country', 'Total', 'rate']]
print(tmp1)

       InvoiceNo  Quantity  CustomerID         Country  Total          rate
0         536365         6     17850.0  United Kingdom  15.30        normal
1         536365         6     17850.0  United Kingdom  20.34        normal
2         536365         8     17850.0  United Kingdom  22.00        normal
3         536365         6     17850.0  United Kingdom  20.34        normal
4         536365         6     17850.0  United Kingdom  20.34        normal
...          ...       ...         ...             ...    ...           ...
541904    581587        12     12680.0          France  10.20  big customer
541905    581587         6     12680.0          France  12.60        normal
541906    581587         4     12680.0          France  16.60        normal
541907    581587         4     12680.0          France  16.60        normal
541908    581587         3     12680.0          France  14.85        normal

[541909 rows x 6 columns]

In [ ]:
1. Sử dụng các phép toán số học
2. Sử dụng phép toán nối chuỗi
3. Sử dụng các toán tử so sánh tạo cột mới thỏa mãn điều kiện của đề bài
4. Sử dụng np.where trong trường hợp điều kiện có 2 sự lựa chọn
5. Sử dụng np.select trong trường hợp điều kiện có từ 2 sự lựa chọn trở lên